body
{
    /*Cambie la fuente a una que le agrade*/
    font-family: monospace;
}

#fondo
{
    /*cambie el color del fondo a uno que les agrade*/
    background-color: gray;  
    /*ancho y alto es width y height*/
    width: 600px;
    height: 318px;
    /*¿Cómo se redondean los bordes?*/
    border-radius: 15px;
    /*¿Qué hace esto?*/
    overflow: auto; /* proveen barras de desplazamiento si hay contenido excedente en un elemento a nivel de bloque. */
    border: 2px solid #454545;
}

#titulo
{
    color: #C0392B;
    text-align: center;
    float: inline-start;
    font-size: 250%;
}

#imagen
{
    /*ponga un margen de 10 pixeles a la imagen*/
    margin: 20px;
    /*Esto hace que se pegue a la izquierda*/
    float: left;
    background-color: #454545;
    border-radius: 120px;
}
#foto
{
    /*Width y margin están mal, por eso la imagen no cuadra*/
    width: 200px;
    height:200px;
    margin: 20px;
    border-radius: 100px;
    background-color: white;
}

#integrantes
{
    width: 200px;
    height:200px;
    border-radius: 10px;
    margin: 30px 20px;   
    color: #922B21;
    background-color: white;
    border: 2px solid #454545;
    float:right;      
}
li
{
    font-size: 150%;
    margin: 1%;    
}

.tituloInterno
{
    font-size: 170%;
    color: #C0392B;
    text-align: center
}

.barra{
    width:200px; 
    height: 4px; 
    margin: 10px 0 0 10px;
    background:#C0392B;
    float: right;
}